<div class="container">
    <app-game-control (gameStarted)="onGameStarted($event)"></app-game-control>


    <div class="row">
        <div class="col-sm-2 panel">
            <div class="panel-heading">Odd Numbers</div>
            <div class="panel-body">
                <div *ngFor="let oddNumber of oddList">
                    <app-odd [oddNumber]="oddNumber"></app-odd>
                </div>

            </div>
        </div>
        <div class="col-sm-2 panel">
            <div class="panel-heading">Even Numbers</div>
            <div class="panel-body">
                <div *ngFor="let evenNumber of evenList">
                    <app-even [evenNumber]="evenNumber"></app-even>
                </div>

            </div>
        </div>
    </div>



</div>